

<h1>This is Main Page</h1>
<hr/>
<h3> What is Razor </h3>
<h4> ANS: AnyLanguage + Html. In our case, C# + html </h4>
<hr/>
<h5> To add C# code to html, use at-the-rate symbol, at-the-rate with brace brackets for multi-line c# code</h5>
<hr/>
@{
    var message = "Hello Razor!";
}
<input type="text" value=@message/>
<br/>
<button onclick="alert('Ok')">Ok</button>
<span style="background-color:green; color:yellow">@ViewBag.ReturnValue</span>
<hr/>

@{
    List<string> names = new List<string>();
    names.Add("Eena");
    names.Add("Meena");
    names.Add("Reena");
}

<table>
    <tr>
       <td>Name</td>
    </tr>

@foreach(var name in names)
{
    <tr><td>
       @Html.TextBoxFor(n=>name)  @*Html helper.This function complies into html code*@
    </td></tr>
}
</table>